[Unit]
Description=chat_bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/chat_bot/Jobitt-bot
ExecStart=/root/chat_bot/Jobitt-bot/venv/bin/python3 /root/chat_bot/Jobitt-bot/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target